body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #3b0a0a;
}


#menu-toggle {
  display: none;
}


.menu-btn {
  position: fixed;
  top: 15px;
  right: 15px;
  font-size: 30px;
  color: white;
  cursor: pointer;
  z-index: 1001;
}


.menu {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background: #0a4c8a;
  padding-top: 60px;
  transition: 0.3s;
  z-index: 1000;
}


#menu-toggle:checked ~ .menu {
  right: 0;
}


.menu a {
  display: block;
  padding: 15px;
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.menu a:hover {
  background: #0d63b5;
}


.login-box {
  width: 300px;
  background: #0a4c8a;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  margin: 120px auto;
  color: white;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background: #2196f3;
  border: none;
  color: white;
}




body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #f3fbff, #6daabe, #2c5364);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.container {
  background: #468d8d;
  padding: 30px;
  max-width: 250px;
  width: 90%;
  text-align: center;
  border-radius: 18px;

  box-shadow:
    0 15px 35px rgba(255, 255, 255, 0.6),
    0 0 25px rgba(74, 144, 226, 0.7);
}


h1 {
  font-size: 24px;
  color: #ffffff;
  opacity: 0;
  animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


.image img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 8px 20px rgba(0,0,0,0.5);
  margin: 20px 0;
}


.form-group {
  margin: 18px 0;
  position: relative;
}

input {
  width: 95%;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #4a90e2;
  outline: none;
  font-size: 15px;
  box-shadow: inset 0 2px 6px rgba(0,0,0,0.2);
}

<<<<<<< HEAD:CCSITO.CSS

=======
}
>>>>>>> ea012ceb04c1a7a0533a350f6a8bb1e18d850222:css.css

.eye:hover {
  color: #4a90e2;
}


button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background: #4a90e2;
  color: white;
  border: none;
  border-radius: 14px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}

button:hover {
  background: #357abd;
}


@media (max-width: 480px) 
   {
   
  }

  h1 {
    font-size: 20px;
  }